<div class="jumbotron">
  <h1 class="display-4">About us!</h1>
  <p class="lead">Jumble is passionate about ecommerce. With a wast generations of  know-how, our team uses premium raw materials to create beatiful products.</p>
  <hr class="my-4">
  <p>Start shopping around.</p>
  <a class="btn btn-primary btn-lg" href="http://localhost:3000/" role="button">Back home</a>
</div>

 